/* remove the default styles */

* {
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}

/* styling main nav */

.main-nav {
    height: 100vh;
    width: 0;
    position: fixed;
    background-color: black;
    /* hide all the links */
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 3;
}

.hide-menu-button {
    float: right;
    width: 2em;
    height: 2em;
    margin-top: 1em;
    margin-right: 1em;
}

.hide-menu-button:hover {
    cursor: pointer;
    content: url("../icon/close-hover.png");
}

.main-nav-links {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 2em;
}

.main-nav-links a {
    padding: 0.5em;
    text-decoration: none;
    font-size: 2em;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.main-nav-links a:hover {
    color: #f1f1f1;
}

/* styling intro section */

.intro-section {
    width: 100vw;
    height: 100vh;
}

.menu-button {
    outline: none;
    font-size: 1.5rem;
    float: right;
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: white;
    margin-top: 1em;
    margin-right: 1em;
    z-index: 2;
}

.menu-button:hover {
    color: #C8356A;
    cursor: pointer;
    text-decoration: underline;
}

.intro-heading1 {
    color: white;
    padding-top: 40vh;
    font-size: 3rem;
    text-align: center;
    padding-bottom: 1em;
}

.my-name {
    color: #C8356A;
}

.next-button {
    border: solid 0.1em white;
    padding: 1em;
    color: white;
    text-decoration: none;
    text-align: center;
    position: absolute;
    left: 46vw;
}

.next-button:hover {
    background-color: #5CBFC7;
}

/* end of styling intro section */

/* styling about me section */

.about-me-section {
    width: 100vw;
    height: auto;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 10%;
}

.about-me-section button {
    color: black;
}

.about-me-heading1 {
    text-decoration: underline;
    padding-top: 10vh;
    font-size: 3rem;
    text-align: center;
}

.my-quality {
    padding-top: 10vh;
    text-align: center;
}

.my-quality img {
    width: 6em;
    height: 6em;
}

/* styling for bio */

.my-bio-skills {
    padding-top: 10vh;
}

.my-bio {
    text-align: center;
}

.my-bio img {
    padding-bottom: 2vh;
    width: 20%;
    height: auto;
}

.my-bio h2 {
    padding-bottom: 2vh;
}

/* end of styling about me section */

/* styling project section */

.project-section {
    padding-left: 25%;
    padding-right: 25%;
    width: 100vw;
    height: auto;
    padding-bottom: 10%;
    background-color: #F5F5F5;
}

.project-heading1 {
    text-decoration: underline;
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-size: 3rem;
    text-align: center;
}

#project1-box {
    padding-right: 2.5%;
}

#project2-box {
    padding-left: 2.5%;
}

.project-thumnail {
    position: relative;
}

.project-thumnail img {
    width: 100%;
    height: 100%;
}

.project-thumnail:hover img {
    filter: brightness(0) invert(0.9);
}

.project-description {
    position: absolute;
    display: none;
}

#project1-box .project-description {
    top: 20%;
    left: 35%;
}

#project1-box .project-description h2 {
    text-align: center;
    padding-bottom: 1em;
}

#project1-box .project-description a {
    text-decoration: none;
}

#project1-box .project-description p {
    text-align: center;
    color: #C8356A;
    padding-bottom: 5em;
}

#project2-box .project-description {
    top: 0;
}

#project2-box .project-description {
    top: 20%;
    left: 35%;
}

#project2-box .project-description h2 {
    text-align: center;
    padding-bottom: 1em;
}

#project2-box .project-description p {
    text-align: center;
    color: #C8356A;
    padding-bottom: 5em;
}

#project2-box .project-description a {
    text-decoration: none;
}

.project-thumnail:hover .project-description {
    display: block;
}

.project-link {
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: solid 0.2em #C8356A;
    color: black;
}

.project-link:visited {
    color: black;
}

.project-link:hover {
    background-color: #C8356A;
    color: white;
}

/* end of styling project section */

/* styling footer */

footer {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #1D242E;
    color: white;
    font-size: 1.5rem;
}

footer ul {
    text-align: center;
    list-style: none;
}

footer ul li {
    display: inline-block;
}

footer ul li img {
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: 1.5em;
    height: 1.5em;
}

/* styling copyright text */

.copyright {
    padding-top: 1em;
    font-size: 0.5em;
    display: block;
}

/* end of styling footer */

/* styling for responsiveness */

@media(max-width: 40em) {
    /* intro section */
    body {
        overflow: visible;
    }
    .menu-button {
        font-size: 1.5em;
    }
    .main-nav-links a {
        font-size: 1em;
    }
    .hide-menu-button {
        width: 1em;
        height: 1em;
    }
    .intro-heading1 {
        font-size: 1.5em;
    }
    .next-button {
        padding: 0.5em;
        font-size: 1em;
        left: 28vw;
    }
    /* about me section */
    .about-me-section {
        padding-left: 1em;
        padding-right: 2em;
    }
    .about-me-heading1 {
        padding-top: 0.5em;
        padding-bottom: 1em;
        font-size: 2em;
    }
    .grid-col-1of3 {
        flex: 1 1 100%;
    }
    .my-quality {
        padding-top: 0;
    }
    .my-quality img {
        width: 5em;
        height: 5em;
    }
    .my-quality div {
        padding-bottom: 2em;
    }
    .my-bio-skills {
        padding-top: 1em;
    }
    .my-bio img {
        width:30%;
    }
    /* project section */
    .project-heading1 {
        font-size: 2em;
        padding-top: 1em;
        padding-bottom: 2em;
    }
    .grid-col-1of2 {
        flex: 1 1 100%;
    }
    .project-section {
        padding-left: 1em;
        padding-right: 1em;
        height: auto;
        padding-bottom: 20%;
    }
    .project-thumnail {
        padding-bottom: 3em;
    }
    #project2-box {
        padding-left: 0;
    }
    #project2-box img {
        width: 97%;
    }
    #project1-box .project-description {
        top: 15%;
        left: 25%;
    }
    #project1-box .project-description h2 {
        font-size: 1em;
    }
    #project1-box .project-description p {
        font-size: 1em;
        padding-bottom: 1em;
    }
    #project2-box .project-description {
        top: 15%;
        left: 30%;
    }
    #project2-box .project-description h2 {
        font-size: 1em;
    }
    #project2-box .project-description p {
        font-size: 1em;
        padding-bottom: 1em;
    }
    .project-link {
        padding: 0.2em;
        font-size: 0.5em;
    }
    #project1-box .project-link {
        margin-left:4.5em;
    }
    #project2-box .project-link {
        margin-left:2.5em;
    }
}

@media(max-width: 60em) {
    .about-me-section {
        padding-left: 5%;
        padding-right: 5%;
    }
    .project-section {
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 20%;
    }
}

@media(max-width: 80em) {
    .about-me-section {
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 15%;
    }
    .project-section {
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 15%;
    }
}