/* remove the default styles */

* {
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}

/* styling main nav */

.main-nav {
    height: 100vh;
    width: 0;
    position: fixed;
    background-color: black;
    /* hide all the links */
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 3;
}

.hide-menu-button {
    float: right;
    width: 2em;
    height: 2em;
    margin-top: 1em;
    margin-right: 1em;
}

.hide-menu-button:hover {
    cursor: pointer;
    content: url("../icon/close-hover.png");
}

.main-nav-links {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.main-nav-links a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.main-nav-links a:hover {
    color: #f1f1f1;
}

/* styling intro section */

.intro-section {
    width: 100vw;
    height: 100vh;
}

.menu-button {
    outline: none;
    font-size: 1.5rem;
    float: right;
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: white;
    margin-top: 1em;
    margin-right: 1em;
    z-index: 2;
}

.menu-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.intro-heading1 {
    color: white;
    padding-top: 45vh;
    font-size: 3rem;
    text-align: center;
}

/* end of styling intro section */

/* styling about me section */

.about-me-section {
    width: 100vw;
    height: 120vh;
    padding-left: 25%;
    padding-right: 25%;
}

.about-me-section button {
    color: black;
}

.about-me-heading1 {
    text-decoration: underline;
    padding-top: 10vh;
    font-size: 3rem;
    text-align: center;
}

.my-quality {
    padding-top: 10vh;
    text-align: center;
}

.my-quality img {
    width: 6em;
    height: 6em;
}

/* styling for bio */

.my-bio-skills {
    padding-top: 10vh;
}

.my-bio {
    text-align: center;
}

.my-bio img {
    padding-bottom: 2vh;
    width: 40%;
    height: auto;
}

.my-bio h2 {
    padding-bottom: 2vh;
}

/* styling for skill */

.container {
    width: 100%;
    /* Full width */
    background-color: #ddd;
    /* Grey background */
}

.skills {
    margin: 1em;
    text-align: right;
    /* Right-align text */
    padding-top: 10px;
    /* Add top padding */
    padding-bottom: 10px;
    /* Add bottom padding */
    color: white;
    /* White text color */
}

.html {
    width: 90%;
    background-color: #4CAF50;
}

/* Green */

.css {
    width: 80%;
    background-color: #2196F3;
}

/* Blue */

.js {
    width: 65%;
    background-color: #f44336;
}

/* Red */

.php {
    width: 60%;
    background-color: #808080;
}

/* Dark Grey */

/* end of styling about me section */

/* styling project section */

.project-section {
    padding-left: 25%;
    padding-right: 25%;
    width: 100vw;
    height: auto;
    background-color: #D5D5D5;
}

.project-heading1 {
    text-decoration: underline;
    padding-top: 10vh;
    font-size: 3rem;
    text-align: center;
}

.project-thumnail img {
    width: 100%;
    height: 100%;
}

/* end of styling project section */

/* styling footer */

footer {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: lightblue;
    font-size: 1.5rem;
}

footer ul {
    text-align: center;
    list-style: none;
}

footer ul li {
    display: inline-block;
}

footer ul li img {
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: 1.5em;
    height: 1.5em;
}

/* styling copyright text */

.copyright {
    padding-top: 1em;
    font-size: 0.5em;
    display: block;
}

/* end of styling footer */