body {
    background-color: #EAEDEF;
}

.menu-button {
    color: black;
}

#intro {
    text-align: center;
    background-color: #1B1E23;
    color: white;
    height: 90vh;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 20%;
}

#intro h2 {
    font-size: 4em;
    padding-bottom: 5%;
}

#intro p {
    padding-right: 15%;
    padding-left: 15%;
    line-height: 2em;
    font-size: 1.5em;
}

#wave1 img {
    width: 100%;
    height: auto;
}