/* remove the default styles */

* {
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}

/* main nav */

.nav-section {
    background-color: #1D242E;
    color: white;
    padding: 1.5em;
}

.nav-section img {
    vertical-align: middle;
    width: 2em;
    height: 2em;
    margin-left: 30%;
    margin-right: 1em;
    display: inline-block;
}

.nav-section h1 {
    font-size: 1.2em;
    vertical-align: middle;
    display: inline-block;
    padding-right: 10%;
}

.nav-section nav {
    display: inline-block;
}

.nav-section li {
    padding-right: 1em;
    display: inline;
}

#active-link {
    color: #CF366D;
}

.nav-section a {
    vertical-align: middle;
    text-decoration: none;
    font-weight: bold;
}

.nav-section a:visited {
    color: white;
}

.nav-section a:hover {
    color: #CF366D;
}

.nav-section a:active {
    color: #CF366D;
}

/* head section */

.head-section {
    background-color: #262933;
    color: white;
    padding-top: 5em;
    padding-bottom: 5em;
}

.head-section img {
    margin-left: 80%;
    display: inline-block;
    width: 10em;
    height: 10em;
}

.head-section h1 {
    padding-bottom: 0.5em;
}

.head-section p {
    font-size: 1em;
    line-height: 1.5em;
    width: 50%;
}

/* body part */

.body {
    padding-top: 1em;
}

.side-nav ul {
    position: sticky;
    top: 0;
    list-style: none;
}

.side-nav ul li {
    font-size: 1em;
    padding-left: 1em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: solid thin #E6E6E6;
    color: #333333
}

#side-nav-heading {
    font-weight: bolder;
    padding-left: 0em;
    font-size: 1.2em;
}

.side-nav ul li a {
    text-align: center;
    text-decoration: none;
}

.side-nav ul li a:visited, .side-nav ul li a:link {
    color: black;
}

.side-nav ul li:hover {
    background-color: lightgray;
}

#side-nav-heading:hover {
    background-color: transparent;
}

.main-content {
    padding-left: 2em;
}

.section-name {
    padding-top: 1.5em;
    padding-bottom: 0.5em;
}

/* styling for typo section */

.typo-unit {
    border-bottom: solid thin #E6E6E6;
    padding: 1em;
    padding-left: 0;
}

.typo-heading {
    display: inline-block;
}

.typo-heading-size {
    vertical-align: baseline;
    float: right;
    color: #999999;
}

.main-content h1 {
    font-size: 36px;
}

#typo-heading-size1 {
    font-size: 36px;
}

.main-content h2 {
    font-size: 27px;
}

#typo-heading-size2 {
    font-size: 27px;
}

.main-content h3 {
    font-size: 21px;
}

#typo-heading-size3 {
    font-size: 21px;
}

.main-content h4 {
    font-size: 18px;
}

#typo-heading-size4 {
    font-size: 18px;
}

/* styling for color section */

.color-heading2 {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.color-box {}

#color-box1 {
    background: #BE446D;
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 1em;
    padding-bottom: 1em;
    display: inline-block;
    margin-right: 1em;
}

#color-box2 {
    background: #5BBCC4;
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 1em;
    padding-bottom: 1em;
    display: inline-block;
    margin-right: 1em;
}

#color-box3 {
    background: #1E242D;
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 1em;
    padding-bottom: 1em;
    display: inline-block;
    margin-right: 1em;
}

#color-box4 {
    background: #999999;
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 1em;
    padding-bottom: 1em;
    display: inline-block;
    margin-right: 1em;
}

#color-box5 {
    background: #cccccc;
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 1em;
    padding-bottom: 1em;
    display: inline-block;
    margin-right: 1em;
}

/* styling for layout section */